* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
header{
   
    background-color:#999;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 450px;
    position: relative;

}


.logo{
justify-content: center ;
 display: flex;
align-items: center;
gap: 10px;
width: 400px;
color: #000;


}
.logo p{
    font-size: 12px;
}
.menu nav ul{
     color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;    
    gap: 50px;

}
.menu li a{
    font-size: 20px;
}
